#btn {
    background-color: #343434!important;
    border-color: #f7fff7;
    color: #f7fff7;
    text-decoration: none;
}

#btn:hover {
    border-color: #ffe66d;
    color:#ffe66d;
    background-color: #343434;
}