.about-me {
    text-align: center;
    border-bottom: 1px solid #343434;
    margin-bottom: 2rem
}

.pictureofme {
    width:15rem;
    height:15rem;
    padding: 0;
}

ul {
    display: flex;
    justify-content:center;
    align-items: center;
}

ul li {
    text-decoration: none;
    list-style-type: none;
    margin: 0 1rem; /* add margin to the left and right of each list item */
  }

  .img-thumbnail {
    /* border-radius: none!important;
    border: none!important; */
    padding:0!important;
  }