.navbarCustom {
    align-items: center;
}

.container {
    margin: 0;
}

#vkl:hover, .nav-item a:hover {
    color: #3dabc7;
    text-decoration: none;
}


.nav-link-color {
    color:#f7fff7;
    text-decoration: none;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: #ffe66d!important;
}

#navToggler{
    height:3rem;
    border-color: white;
}

span.navbar-toggler-icon{
    background-color: rgb(254, 246, 246)!important;
}