/* My Personal projects section*/

.thumbnail {
    color:white;
    text-decoration: none;
}
.card {
    background-color: #292828!important;
    color:white;
}
.cardContainer{
    padding-top: 1rem;
}

.personal-projects {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
}

.contact-form {
    background-color: black;
}

.personal-projects, .projects-header {
    text-align: center;
}

.card-style {
    padding: 0.5rem 0 0.5rem 0;
    margin: 0.5rem 0 0.5rem 0;
}

.projects-icon:hover, .card:hover, .thumbnail:hover {
    box-shadow: 0 3px 15px #3dabc7;
    border: #3dabc7;
    color:#3dabc7;
}

.personal-projects {
    flex-direction: row;
}

.projects-icon {
    width: 100%;
    height: 100%;
}

  